// AOS Library
@import "partials/__mixins.scss";
@import "partials/__scrolltrigger.scss";


// Standard CSS
html, body {
  font-family: sans-serif;
  background: #fff;
  color: #222;
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  border: 1px dashed #eee;
  position: relative;
  height: 3000px; 
  background: #fff;
  margin: 0px auto;
}

.filler {
  padding: 15px;
  margin: 15px 0;
  background: #aaa;
  height: 300px;
}


.invisible {
    transition: opacity 1.5s ease;
    opacity: 0.0;
}

.visible {
    transition: opacity 1.5s ease;
    opacity: 1.0;
}